*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: calibri;
}
.calc-box{
	margin: 50px 0px 0px 450px;
	text-align: center;
	padding: 15px 0px 15px 0px;
	border: 2px solid black;
	border: none;
	box-shadow: 0px 0px 7px rgba(0,0,0,.5);
	width: 400px;
/*	background: #F7F9F9;*/
	border-radius: 15px;
}
input[type=text]{
	margin: 20px 0px 0px 0px;
	border: none;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, .4);
	border-radius: 7px;
	width: 312px;
	padding: 10px 15px;
	font-size: 24px;
	letter-spacing: 1px;
}
input[type=text]:focus{
	outline: none;
}

input[type="button"]{
	height: 60px;
	width: 60px;
	background-color: white;
	color: #21618C;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
	border-radius: 7px;
	font-size: 22px;
	font-weight: bold;
	padding: 14px;
	margin: 10px;
}
.button{
	text-align: center;
	margin: 30px 0px 20px 0px;
	font-size: 20px;
	letter-spacing: 1px;
}p{
	margin: 10px 0px 0px 0px;
}
/*input[type="radio"]{
	padding-left: 10px;
}*/
